html
    header
    title Opret Sang
        meta(charset="UTF-8")
    body
        form(method="post" action="/")
        input(type="text" name="setup" placeholder="Setup")
        input(type="text" name="punchline" placeholder="punchline")
        button(type="submit") Opret joke
            Opretjoke
