html
    style
        include ../styles/style.css
    header
        a(href='/api/jokes') Jokes
        br
        a(href='/api/othersites') Andre sites

    title #{title}
        meta(charset="UTF-8")
    body
    br
    br
    table(id= "andrejokestable")
        each joke in jokes
        tr
            td 
                p Setup: #{joke.setup}
            td 
                p Punchline: #{joke.punchline}
            br
        
