html
    header
        title Api
        meta(charset="UTF-8")
    body
    h1 Other jokes
    -// each api in apier
    -// mangler at køre igennem alle apier der er lavet i forvejen
    -// og sætte det i en ul(unordered list)

