html
    header
        title Jokes
        meta(charset="UTF-8")
    body
    h1 Jokes
        each joke in jokes
            ul
            

    -// mangler at køre igennem alle jokes der er lavet i forvejen
    -// og sætte det i en ul(unordered list)


