html
    header
        title Jokes
        meta(charset="UTF-8")
    body
        div
            h1 Jokes
            ul
                each joke in jokes
                    li= joke

        div
            h1 Other jokes
            ul
                each api in apier
                    li= api
    include opret.pug


