html
    header
        title Jokes
        meta(charset="UTF-8")
    body
    h1 Jokes fra anden site
    select 
        each side in sider
            option
                a(href= side.address) #{side.address}
    br

    //---------------------------
    each jokeSpSite in enkelt
        p Setup: #{jokeSpSite.setup}
        p Punchline: #{jokeSpSite.punchline}
        br

    
    -// each joke in jokes
    -// mangler at køre igennem alle jokes der er lavet i forvejen
    -// og sætte det i en ul(unordered list)

