html
    header
        a(href='/api/jokes') Jokes
        br
        a(href='/api/othersites') Andre sites

    title #{title}
        meta(charset="UTF-8")
    body
        h1(id=("opret1")) Opret en joke
        form(method="post" action="/api/jokes")
            input(type="text" name="setup" placeholder="Setup")
            input(type="text" name="punchline" placeholder="punchline")
            button(type="submit") Opret joke
    br
    br
    ul
        each joke in jokes
            p Setup: #{joke.setup}
            p Punchline: #{joke.punchline}
            br
        
